/* Write your CSS here */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.heading {
  font-family: roboto;
  color: #171f46;
  font-size: 20px;
  margin-top: 48px;
  text-align: center;
}
